<div th:replace="/layout/shop/header"></div>
<h5>Delete Doctor</h5>

<h5><a th:href="@{/shop/doctor}">Back</a></h5>

<form method="post" th:action="@{/shop/doctor/delete}">
   <input type="hidden" th:value="${doctor.Id}" name="Id" />
   
   <h5>Are you sure to remove this record?</h5>
  <p th:text="${doctor.Id}"></p>
<p th:text="${doctor.Name}"></p>
<p th:text="${doctor.Address}"></p>
<p th:text="${doctor.Phone}"></p>
   <p th:text="${message}"></p>
   <p>
    <button type="submit" class="btn btn-danger">Delete</button>
   </p>
</form>
<div th:replace="/layout/shop/footer"></div>