<div th:replace="/layout/shop/header"></div>

<h5><a th:href="@{/shop/sale-detail}">Back</a></h5>
<div th:if="${saleDetail}">
<h5>Sale Detail</h5>
<p th:text="|Id: ${saleDetail.DetId}|"></p>
<p th:text="|Sale Date: ${saleDetail.Sale.Id}|"></p>
<p th:text="|Medicine id: ${saleDetail.Medicine.Id}|"></p>
<p th:text="|Medicine name: ${saleDetail.Medicine.Name}|"></p>
<p th:text="|Qty: ${saleDetail.Qty}|"></p>
<p th:text="|Rate: ${saleDetail.Rate}|"></p>
<p th:text="|Discount: ${saleDetail.Discount}|"></p>
<p th:text="|ShopAdminId: ${saleDetail.User.Id}|"></p>
</div>

<div th:replace="/layout/shop/footer"></div>