<div th:replace="/layout/shop/header"></div>
<h5>New Sale</h5>

<h5>
	<a th:href="@{/shop/sale}">Back</a>
</h5>
<form method="post" th:action="@{/shop/sale/create}">
	<input type="hidden" th:value="${sale.Id}" name="Id" />

	<p>
		Sale Date: <input type="date" th:value="${sale.SaleDate}"
			name="SaleDate" class="form-control form-control" />
	</p>
	<p>
		Customer: <select class="form-control form-control" name="CustomerId">
			<option disable="true" selected>Choose</option>
			<option th:each="customers:${customers}" th:value="${customers.Id}"
				th:text="${customers.Name}"></option>
		</select>
	</p>
	<p>
		Doctor: <select class="form-control form-control" name="DoctorId">
			<option focus="false" disable="true" selected>Choose</option>
			<option th:each="doctors:${doctors}" th:value="${doctors.Id}"
				th:text="${doctors.Name}"></option>
		</select>
	</p>
	<p>
		ShopAdminId: <input type="text" th:value="${sale.User.Id}"
			name="UserId" class="form-control form-control" />
	</p>
	<p th:text="${message}"></p>
	<p>
		<button type="submit" class="btn btn-primary">Add</button>
	</p>
</form>
<div th:replace="/layout/shop/footer"></div>